body {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    background-color: #f9f9f9;
}
nav a {
    display: block;
    /* display: inline-block; #for horizontal */
    padding: 10px;
    background-color: #ead40e;
    border-bottom: 2px solid #f9f9f9;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    background-color: #f9f9f9;
    color: black;
}

.cat {
    border: 2px solid black;
    width: 300px;
    float: right;
}
.hammer {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: -1;
}

/* position has many values: static, relative, absolute, fixed, sticky
noted on the relative, absolute and fixed.*/


.floater {
    float: left;
}

.cat img {
    width: 100%;
    height: auto;
}
.clear {
    clear: both;
}
