body {
    background-color: rgb(233, 240, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;

}

h1 {
    color: rgb(228, 3, 3);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.footer {
    
    font-size: 12px;
    color: rgb(203, 211, 219);
}
#other-links {
    color: rgb(255, 5, 5);
}
#links {
    color: rgb(245, 95, 2);
}
#visit {
    color: rgb(1, 28, 128);
}
.italic {
    font-style: italic;
}