body {
    font-family: Arial, Helvetica, sans-serif;
}

.schedule {
    margin: 5px auto;
    border: thin solid black;
    border-spacing: 0;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.schedule thead {
    background-color: darkblue;
    color: white;
}

.schedule tbody tr:nth-child(even) {
    background-color: #BBB;
}

.schedule tfoot {
    background-color: darkblue;
    color: white;
}