body {
    font-family: Arial, Helvetica, sans-serif;
}

.schedule {
    margin: 5px auto;
    border: thin solid black;
    border-spacing: 0;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.schedule thead tr {
    background-color: darkblue;
    color: white;
}
.schedule tbody tr {
    background-color: rgb(196, 236, 250);
}

.schedule tbody tr:nth-child(even) {
    background-color: #94a5f9;
}

.schedule tfoot tr {
    background-color: darkblue;
    color: white;
}