body {
    font-family: Arial, Helvetica, sans-serif;
}

.form-row, .chgeck-row{
    margin: 15px 0;
    display: flex;
    gap  : 10px;
}
.form-row label {
    width: 150px;
    font-weight: bold;
    text-align: right;
}

.form-row input:not([type='submit']), ,.form-row select, .form-row textarea {
    flex: 1;
    padding: 5px;
    font-size: 16px;
}

.form-row input[type='submit'] {
    margin-left: 160px;
    padding: 10px 20px;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    background-color:  rgb(146, 2, 159);
    color: white;
    border: none;
    cursor: pointer;
}

.form-row input[type='submit']:focus {
    outline: 2px solid #000;
    background-color: rgb(115, 219, 18);
}
.spacer {
    width: 150px;
    text-align: right;
}
fieldset {
    border: 2px solid #000;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(237, 202, 26, 0.893);
    margin: auto;
    width: 80%;
}
legend {
    font-weight: bold;
    padding: 20px;
    background-color: rgb(146, 2, 159);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

@media ONLY screen AND (max-width: 480px) {
    .form-row, .chgeck-row {
        flex-direction: column;
        align-items: flex-start;
    }
    fieldset {
        width: 95%;
    }
    .form-row label .spacer {
        text-align: left;

    }
}