body {
    font-family: Arial, Helvetica, sans-serif;
}
#welcome {
    text-align: center;
    color: rgb(0, 51, 102);
    background-color: rgb(173, 227, 245);
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
}

.project {
    display: grid;
    grid-template-columns: auto;
    gap: initial;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(173, 227, 245);
}