body {
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    text-align: center;
    color: rgb(0, 51, 102);
    background-color: rgb(173, 227, 245);
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
  
}

.container a {
    border: 1px solid black;
    width: 100px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: rgb(252, 3, 3);
    background-color: rgb(173, 227, 245);
    text-decoration: none;
    font-weight: bold;

}
.project {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 equal columns */
    gap: 3em;
    padding: 10px;
    margin: 10px;
}

.project div {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    background-color: rgb(173, 227, 245);
    text-align: ;
}