body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    border: 2px solid black;
    padding: 10px;
    background-color: #e0ee77;
}
.project {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 equal columns */
    gap: 3em;
    padding: 10px;
    margin: 10px;
}